/* RESET E CORES */
* { margin: 0; padding: 0; box-sizing: border-box; }
:root {
    --bg-black: #000000;
    --logo-red: #ff0000;
    --text-white: #ffffff;
    --card-bg: #0c0c0c;
}

body {
    background-color: var(--bg-black);
    color: var(--text-white);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
}

.site-wrapper {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    text-align: center;
}

/* HEADER E LOGO */
.logo-header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.car-illustration svg {
    width: 100%;
    height: auto;
    max-width: 380px;
}

.brand-sub {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: -10px;
}

.brand-main {
    font-size: 85px;
    font-weight: 900;
    font-style: italic;
    color: var(--logo-red);
    line-height: 0.8;
    letter-spacing: -2px;
}

.divider-line {
    border: none;
    height: 3px;
    background-color: var(--logo-red);
    margin: 25px 0;
}

/* SERVIÇOS */
.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 30px;
}

.service-item {
    background: var(--card-bg);
    border: 1px solid #222;
    padding: 15px 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.service-item:hover { border-color: var(--logo-red); }

.service-item i {
    color: var(--logo-red);
    font-size: 24px;
    margin-bottom: 8px;
}

.service-info h3 { font-size: 11px; font-weight: 900; }
.service-info p { font-size: 10px; color: #888; }

/* RODAPÉ */
.call-to-action {
    font-size: 14px;
    font-weight: bold;
    color: #bbb;
    margin-bottom: 20px;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.contacts a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.contacts i { color: #25d366; } /* Verde do Whats */

.location {
    font-size: 11px;
    color: #777;
    margin-bottom: 25px;
    line-height: 1.4;
}

.btn-whatsapp {
    background-color: var(--logo-red);
    color: white;
    border: none;
    width: 100%;
    padding: 18px;
    font-size: 16px;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
